version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    commit-message:
      prefix: "chore(deps)"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7
    groups:
      gha:
        patterns:
          - "*"
  - package-ecosystem: "gomod"
    directory: "/"
    commit-message:
      prefix: "chore(deps)"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7
    groups:
      gomod:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/"
    commit-message:
      prefix: "chore(deps)"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7
    groups:
      docker:
        patterns:
          - "*"
