---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-chalkular-ocular-crashoverride-run-v1beta1-artifactmediatypemapping
  failurePolicy: Fail
  name: martifactmediatypemapping-v1beta1.kb.io
  rules:
  - apiGroups:
    - chalkular.ocular.crashoverride.run
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - artifactmediatypemappings
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-chalkular-ocular-crashoverride-run-v1beta1-artifactmediatypemapping
  failurePolicy: Fail
  name: vartifactmediatypemapping-v1beta1.kb.io
  rules:
  - apiGroups:
    - chalkular.ocular.crashoverride.run
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - artifactmediatypemappings
  sideEffects: None
