---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-chalk-ocular-crashoverride-run-v1beta1-mediatypepolicy
  failurePolicy: Fail
  name: mmediatypepolicy-v1beta1.kb.io
  rules:
  - apiGroups:
    - chalk.ocular.crashoverride.run
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - mediatypepolicies
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-chalk-ocular-crashoverride-run-v1beta1-mediatypepolicy
  failurePolicy: Fail
  name: vmediatypepolicy-v1beta1.kb.io
  rules:
  - apiGroups:
    - chalk.ocular.crashoverride.run
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - mediatypepolicies
  sideEffects: None
